<a href="https://colab.research.google.com/github/JonathanGolzalez/PrograIII-2024/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello word")
Nombre = "Jonathan Gonzalez"

print("Hola ", Nombre, ", inicial: ", Nombre[0], Nombre[5])

Hello word
Hola  Jonathan Gonzalez , inicial:  J h

EJERCICIO, crear un programa en python sume dos numeros

In [ ]:
num1= 5
num2= 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en python sume dos numeros introducidos por el usuario

In [ ]:
print("Ingrese el primer numero")
num1 = float(input())
print("Ingrese el segundo numero")
num2 = float(input())
resp = num1 + num2
print("La suma es: ", resp)

Ingrese el primer numero
5
Ingrese el segundo numero
4.5
La suma es:  9.5

In [ ]:
num1= 5
num2= 9.5

nombre = "Jonathan Gonzalez"
print(nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(estado), type(num1), type(num2))

han Gonzalez
True
<class 'str'> <class 'bool'> <class 'int'> <class 'float'>

EJERCICIO, cree un programa en python que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero: "))
if num % 2 == 0:
    print("El numero es par")
else:
    print("El numero es impar")

Ingrese un numero: 4
El numero es par

1.Convertir grados farenheil a celcius
2.convertirgrados Farenheit y celsius a Kelvin

In [3]:
def convertir_cf(f):
    return (f - 32) / 1.8

In [4]:
f = float(input("Ingrese la temperatura en farenheit: "))
print("Celcius", convertir_cf(f))

Ingrese la temperatura en farenheit: 80
Celcius 26.666666666666664

Farenheit y Celcius a Kelvin

In [5]:
def convertir_fk(f):
    return (f + 459.67) * 5/9

def convertir_ck(c):
    return c + 273.15

def convertir_rk(r):
    return r * 5/9

In [6]:
f = float(input("Ingrese la temperatura en farenheit: "))
print("Kelvin", convertir_fk(f))

c = float(input("Ingrese la temperatura en celcius: "))
print("Kelvin", convertir_ck(c))

r = float(input("Ingrese la temperatura en Rankine: "))
print("Kelvin", convertir_rk(r))

Ingrese la temperatura en farenheit: 12
Kelvin 262.0388888888889
Ingrese la temperatura en celcius: 12
Kelvin 285.15
Ingrese la temperatura en Rankine: 12
Kelvin 6.666666666666667

Ejercicio: elevar un numero al cuadrado

In [11]:
def elevar_cuadrado(base=0,exponente=2):
    return base ** exponente

In [12]:
num = int(input("Ingrese un numero: "))
print("El cuadrado es: ", elevar_cuadrado(num,3))

Ingrese un numero: 3
El cuadrado es:  27

Ejercicio: usando funciones lambda

In [15]:
elevar_cuadrado_lambda = lambda base, exponente: base ** exponente

In [16]:
valor = int (input("Ingrese un numero: "))
print("El cuadrado es: ", elevar_cuadrado_lambda(valor,2))

Ingrese un numero: 3
El cuadrado es:  9

In [18]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevar_cuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

Ejercicio: obtener la raiz cuadrada de una serie de numeros fijos

In [19]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**0.5, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907]